.game-board {
    height: 80vh;
    width: 80vh;
    border: 3px black solid;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.board-lign {
    height: 12.5%;
    border: 1px black solid;
    display: flex;
    flex-direction: row;
}

.board-square {
    width: 12.5%;
    border: 1px black solid;
    background-color: black;

    &.white{
        background-color: white;
    }
}

.selected {
    border: 3px blue solid;
}