.red-piece {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: darkred;
    margin: auto;

    &.special {
        background-color: purple;
    }
}

.white-piece {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: white;

    &.special {
        background-color: lightblue
    }
}